extend layout
block content
	p
		| I am Testing this tutorial.
		| Where This app is using Node, Express and Jade.
	p
		| I'll see what I learn from this.
		| and then I'll apply on real projects.
block sidebar
	.widget
		h1 Widget
		p
			| Widget One
			| Widget Two
		p
			| Widget Three
			| Widget Four