doctype
html
	head
		title #{title} - My Example Site
		link(rel='stylesheet', href='/CSS/style.css')
	body
		header
			h1 My Example Site
		.container
			.main-content
				block content
			.sidebar
				block content
		footer
			p Running on node with Express, Jade and Stylus